<h1>Stadiums I've Visited</h1>
<p>On this site, you can see stadiums I have been to, average user ratings for each, and the latest user reviews. You can also submit a review</p>
<% for stadium in @stadiums %>
    <p><a href="/stadiums/<%= stadium[:id] %>"><%= stadium[:stadium_name] %></a></p>
<% end %>